.explore-page-container{
    .nav-container{
        z-index: 2;
        // position: initial;
    }
}
.slider{
    padding: 1em 0em;
}
.niche{
    color: #686868;
    font-family: "Titan One";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.4em;
    margin-left: 0.6em;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.swiper-slide-active{
    // margin-left: 0.6em !important;
    // transition: all ease-in 0.2s;
    
}
.swiper-slide{
    font-size: clamp(1rem,3vw,1.2rem);
    margin:0 0 0 1em !important;
    
}
.course-pack-cont{
    font-size: clamp(1rem,3vw,2rem);
    padding: 0.6em 0.8em;
    border-radius: 10px;
    background-color: #2C2C2C;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
    .author{
        display: flex;
        align-items: flex-start;
        margin-bottom: 0.6em;
       
        .pfp{
            width: 1.34em;
            height: max-content;
            aspect-ratio: 1/1;
            border-radius: 2000px;
            overflow: hidden;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .texts{
            color: #A7A7A7;
            font-family: Cabin;
            line-height: 1;
            font-size: inherit;
            margin-left: 0.6rem;
            .username{
                font-size: 0.6em;
                font-style: normal;
                font-weight: 700;
                margin-bottom: 0.3em;
            }
            .view{
                font-size: 0.5em;
                font-style: italic;
                font-weight: 400;
            }
        }
    }
    .cover-image{
        width: 100%;
        height: 8em;
        max-height: 23vh;
        border-radius: 4px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .specs{
        display: flex;
        justify-content: space-between;
        font-size: inherit;
        .name{
            color: #ADADAD;
            font-family: Cabin;
            font-size: 0.7em;
            font-style: normal;
            font-weight: 700;
            line-height: 1.6;
            margin-top: 0.2em;
        }
    }
}
.videoCount{
    display: flex;
    align-items: center;
    margin-right: 0.4em;
    .num{
        font-size: 0.5em;
        color: #515151;
        font-family: "Exo 2";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        margin-right: 0.4em;
    }
    img{
        height: 50%;
    }
}

.shadow-explore{
    padding: 0 !important;
}