
*{
    margin: 0;
    padding: 0;
}
.loader-cont{
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.teacher-cont , .student-cont {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-out;
}
.heading{
    position: absolute;
    bottom: -1.4em;
    margin-left: 0.4em;
    z-index: 2;
    color: #AEAEAE;
    font-family: 'Krona One', sans-serif;
    font-size: 2.4rem;
    @media (width<420px) {
        font-size: clamp(1.7rem,9vw,2.4rem);
    }
    line-height: 1.4;
}
.tap-info{
    color: #6A6A6A;
    font-family: 'Krona One', sans-serif;
    @media (width>420px) {
        font-size: 1rem;
    }
    font-size: clamp(0.5rem,3.9vw,0.94rem);
}
.teacher-cont{
    // position: absolute;
    // top: 0;
    z-index: 5;
    // height: 50%;
    width: 100%;
    background: #2D2D2D;
}

.student-cont{
    // position: absolute;
    // bottom: 0;
    height: fit-content;
    flex-grow: 1;
    width: 100%;
    background-color: #252525;
}