@import 
'./loader',
'./fonts',
'./animations',
'./login',
'./reset',
'./home',
'./nav',
'./upload',
'./variables',
'./course',
'./explore',
'./edit',
'./player',
'./subscribed',
'./popup',
'./intro',
'./componenets',
'./account';
.welcome-container{
    position: absolute;
}
input{
    all: unset;
}
body{
    background-color: #252525;
}