.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    font-size: 1.4rem;
    font-size: calc(1vh + 1.1vw);
    font-size: 0.8rem;
    font-size: clamp(0.8rem,calc(1.3vh + 1.4vw),1.4rem);
    height: 3.6em;
    padding: 0 1.4em 0 1.5em;
    position: absolute;
    top: 0;
    border-bottom: 0.3px solid #3E3E3E;
    // z-index: 8 !important;
    .logo{
        margin-top: 0.2em;
        height: 27%;
    }
    .ham{
        height: 25%;
    }
}
.MuiDrawer-paper{
    background-color: #252525 !important;
    font-size: inherit;
    .drawer-cont{
        font-size: inherit;
        // background-color: blue;
        width: 60vw !important;
        .nav-cont{
            border-bottom: 0.3px solid #3E3E3E;
            .logo-imitate{
                font-size: clamp(0.8rem,calc(1.3vh + 1.4vw),1.4rem);
                padding-left: 1.4em;
                height: 3.55em!important;
                display: flex;
                align-items: center;
                img{
                    margin-top: 0.2em;
                    height: 27%;
                }
            }

        }
        .options{
            padding-left: 1rem;
            padding-top: 0.4rem;
            font-size: 2vw;
            .option{
                display: flex;
                align-items: center;
                width: 100%;
                height: 5em;
                position: relative;
                h1{
                    color: #A1A1A1;
                    font-family: Raleway;
                    font-size: 0.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-left: 4.4em;
                }
                img{
                    position: absolute;
                    left: 0;
                }
            }
        }

    }
    // top: 4em !important;
}

.giveMargin{
    padding: 2.5px;
}
.smallMargin{
    padding: 2px;
}