.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    font-size: 1.4rem;
    font-size: calc(1vh + 1.1vw);
    font-size: 0.8rem;
    font-size: clamp(0.8rem,calc(1.3vh + 1.4vw),1.4rem);
    height: 3.6em;
    padding: 0 1.4em 0 1.5em;
    position: absolute;
    top: 0;
    border-bottom: 0.3px solid #3E3E3E;
    // z-index: 8 !important;
    .logo{
        margin-top: 0.2em;
        height: 27%;
    }
    .ham{
        height: 25%;
    }
}