// input:-webkit-autofill,
// input:-webkit-autofill:hover, 
// input:-webkit-autofill:focus, 
// input:-webkit-autofill:active{
    
//     -webkit-box-shadow: 0 0 0 30px #313131 inset !important;
// }
input:-webkit-autofill{
    -webkit-text-fill-color: #666 !important;
    text-align: center;
}
input:-webkit-autofill { 
    -webkit-background-clip: text;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}