input:-webkit-autofill{
    -webkit-text-fill-color: #666 !important;
    text-align: center;
}
input:-webkit-autofill { 
    -webkit-background-clip: text;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
*:focus {
    outline: none;
}
textarea {
    resize: none;
}
input:focus::placeholder , textarea:focus::placeholder{
    transform: scale(0.01);
    transform-origin: bottom left;
    transition: transform 0.1s ease-in;
}
input , a , .cta-btn , .secondary-btn , .video-clicker , .pfp-clicker{
    cursor: pointer;
}