// input:-webkit-autofill{
//     -webkit-text-fill-color: #27272717 !important;
// }
// input:-webkit-autofill { 
//     -webkit-background-clip: text;
// }
// input:-internal-autofill-selected {
//     background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
// }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow:0 0 0 50px #252525 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #666666 !important;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
*:focus {
    outline: none;
}
textarea {
    resize: none;
}
input{
    caret-color: #666666 !important;
}
input:focus::placeholder , textarea:focus::placeholder{
    transform: scale(0.01);
    transform-origin: bottom left;
    transition: transform 0.1s ease-in;
}
input , a , .cta-btn , .secondary-btn , .video-clicker , .pfp-clicker{
    cursor: pointer;
}