.subscribed-page{
    scroll-behavior: smooth;
    .nav-container{
        // position: initial;
    }
    .cards{
        font-size: clamp(0.78rem,2.9vw,1.2rem);
        padding: 1.2em 1.4em;
        padding: 1.2em 1.4em 0.2em 1.4em;
        .empty-container{
            padding-right: 3vw;
            padding-bottom: 6em;
        }
        
        padding-block: 1em;
        .card{
            width: 100%;
            margin-bottom: 1em;
            // margin-block: 1em;
            border-radius: 4px;
            background-color: #2C2C2C;
            .card-cont{
                padding:0.4em 1em 0.6em 1em;

                .desc-cont{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .title{
                        color: #CCCCCC;
                        font-family: 'Cabin';
                        font-style: italic;
                        font-size: 1.2em;
                    }
                    .subscription{
                        font-size: 0.76em;
                    }
                    .link{
                        height: 0.9em;
                        cursor: pointer;
                    }
                }
                .cover{
                    font-size: inherit;
                   width: 100%;
                   border-radius: 2px;
                   aspect-ratio: 16/9;
                   height: max-content;
                   max-height: 40rem;
                   overflow: hidden;
                   object-fit: cover;
                   margin-block: 0.5em;
                   img{
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     min-width: 100%;
                     min-height: 100%;
                   }
                   
                }
                .end{
                    display: flex;
                    justify-content: space-between;
                    .author-cont{
                        display: flex;
                        align-items: center;
                        .pfp-cont{
                            height: 1.4em;
                            width: 1.4em;
                            border-radius: 1000px;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .author-name{
                            margin-top: 0.2em;
                            color: #A7A7A7;
                            font-family: 'Cabin';
                            font-weight: 400;
                            margin-left: 0.4em;
                        }
                    }
                    .videoCount{
                        .num{
                            font-size: 0.8em !important;
                        }
                        img{
                            height: 60%;
                        }
                    }
                    
                }
            }
            
        }
    }
}


.card-container{
    // height: 270px;
    height: fit-content;
    .covering{
        background-color: #C71620;
    }
    .warn-cont{
        z-index: -1;
        display: block;
        // margin-bottom: 1em;
        position: relative;
        // overflow-y: hidden;
        margin-block: 0.8em;
        .warn{
            $side:1.4px;
            position: absolute;
        opacity: 0;
        top: -200%;
        width: calc(100% - (2*$side));
        margin-left: $side;
        height: 100%;
        background-color: #C71620;

        // padding: 1.2em 2em 1.2em 1.4em;
        border-radius: 4px;
         .text{
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #FFFFFF;
            margin-inline: 1.4em;
            .context{
                font-family: 'Cabin';
                font-style: italic;
                font-weight: 400;
                line-height: 0.9;
                font-size: 1.1em;
                display: flex;
                align-items: center;
                h1{
                    margin-top: 1px;
                    margin-left: 0.8rem;
                    white-space: nowrap;
                }
                img{
                    height: 1.4em;
                }
                
            }
            .undo{
                font-size: 1.15em;
                line-height: 1;
                font-weight: 600;
            }
         }
       }
    }
}
