.player{
    margin-left: 2em;
}
.container{
    position:relative;
}
.circle{
    position: absolute;
    top: 0;
    left: 6px;
    overflow: visible;
    backdrop-filter: invert(100%);
    /* filter: invert(1);
    mix-blend-mode: difference; */
    
}
.circle h1{
    color: violet;
}
.nav{
    display: flex;
}